{% extends 'base.html.twig' %}

{% block title %}S'enregistrer
{% endblock %}

{% block body %}
	<h1>S'enregistrer</h1>

	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.username) }}
	{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
	{{ form_row(registrationForm.agreeTerms) }}

	<button type="submit" class="btn">S'enregistrer</button>
	{{ form_end(registrationForm) }}
{% endblock %}
