{% extends 'base.html.twig' %}

{% block title %}Hello AdController!
	{{dump(data)}}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="left col-6">
				<img src="https://www.nigiloc.com/images/image-not-found.png" class="img-fluid" alt="...">
			</div>
			<div class="right col-6">
				<h1>{{ data.title}}</h1>
				<h3>{{ data.price}}
					€</h3>
				<p>{{ data.description}}</p>
				<p>Proposé par
					{{ data.user.username}}
					le
					{{ data.getCreatedAt()|date('d/m/Y H:m') }}</p>
				<div class="flex">
					{% if is_granted('ROLE_USER') %}
						<a href="{{ path('app_edit_ad', {id: data.id}) }}" class="btn btn-success">Modifier</a>
						<a href="{{ path('app_delete_ad', {id: data.id}) }}" class="btn btn-danger">Supprimer</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
